<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">


	<!-- JAVA SERVLETS -->
	<!-- Requête pour l'affichage des 10 prochains matchs -->
	<servlet>
		<servlet-name>NextMatchs</servlet-name>
		<servlet-class>com.delices.services.NextMatchs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NextMatchs</servlet-name>
		<url-pattern>/next_matchs</url-pattern>
	</servlet-mapping>

	<!-- Pour l'affichage des matchs -->
	<servlet>
		<servlet-name>DisplayMatch</servlet-name>
		<servlet-class>com.delices.services.GetMatch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayMatch</servlet-name>
		<url-pattern>/display_match</url-pattern>
	</servlet-mapping>

	<!-- Schedule partial updater -->
	<servlet>
		<servlet-name>PartialUpdate</servlet-name>
		<servlet-class>com.delices.services.InitSchedule</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PartialUpdate</servlet-name>
		<url-pattern>/partial_update</url-pattern>
	</servlet-mapping>
	
	<!-- Crée un pari -->
	<servlet>
		<servlet-name>Pari</servlet-name>
		<servlet-class>com.delices.services.PariServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pari</servlet-name>
		<url-pattern>/pari</url-pattern>
	</servlet-mapping>
	

	<!-- Tests -->
	<servlet>
		<servlet-name>Display</servlet-name>
		<servlet-class>com.delices.services.TestDisplayTeam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display</servlet-name>
		<url-pattern>/testdisplay</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplaySched</servlet-name>
		<servlet-class>com.delices.services.TestDisplaySchedule</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplaySched</servlet-name>
		<url-pattern>/testdisplaysched</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.delices.services.TestUpdateTeam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/testupdate</url-pattern>
	</servlet-mapping>


	<!-- CRON TASKS (exécutées sur l'app engine) -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Met à jour les scores des matchs en cours -->
	<servlet>
		<servlet-name>UpdateScores</servlet-name>
		<servlet-class>com.delices.backend.ScoreUpdater</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateScores</servlet-name>
		<url-pattern>/cron/update_scores</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateRanking</servlet-name>
		<servlet-class>com.delices.backend.RankingUpdater</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRanking</servlet-name>
		<url-pattern>/cron/update_ranking</url-pattern>
	</servlet-mapping>

	<!-- todo : virer les extensions jsp -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Durée d'une session avant expiration -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
