@CHARSET "ISO-8859-1";

.calendar {
	width:90%;
	margin:auto;
	padding:5px 5px 5px 5px;
	border-collapse:collapse;
	text-align:center;
}

.calendar tr:nth-child(2n+1) {
	background:#CCCCCC;
}

.calendar tr:nth-child(2n+2) {
	background:#EEEEEE;
}

/* Header */
.calendar tr:nth-child(1) {
	background:#666666;
	border:1px solid black;
	font-weight: bold;
}

.calendar td {
	border:1px solid black;
}

.calendar a {
	text-decoration:none;
	color:black;
}

.game-time {
	width:30%
}

.left-team {
	width:35%;
}


.right-team {
	width:35%;
}