@CHARSET "ISO-8859-1";

/* previous and next days */
.left-panel .nav {
	width:90%;
	margin:auto;
	margin-bottom:10px;
}

.nav a {
	color:#444444;
}

.calendar {
	width:90%;
	margin:auto;
	padding:5px 5px 5px 5px;
	border-collapse:collapse;
	text-align:center;
}

.calendar-date {
	text-align:left;
	padding-left : 15px;
	font-weight:bold;
	color:#777777;
	background:#CCCCCC;
	border-bottom:2px solid black;
}

.calendar-match {
	background:#EEEEEE;
}


.calendar a {
	text-decoration:none;
	color:black;
}

.score-time {
	float:left;
	width:30%
}

.left-team {
	float:left;
	text-align:right;
	width:35%;
}


.right-team {
	float:right;
	text-align:left;
	width:35%;
}