@CHARSET "UTF-8";

#matchs {
	background: #222;
	margin-bottom: 20px;
}

#matchs>a {
	display: block;
	text-decoration: none;
	color: white;
	margin: 5px;
	text-decoration: none;
	max-width: inherit;
}

#matchs>a .date {
	display: inline;
	margin-right: 15px;
}

#matchs>a .teams {
	display: inline;
}