@CHARSET "ISO-8859-1";

.match-content {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

.match-panel {
	width:100%;
	background: #EEEEEE;
	border-collapse: collapse;
	border: 1px solid grey;
	margin-bottom:20px;
}

.match-panel th {
	padding: 15px 0px 15px 0px;
}

.match-panel td {
	text-align: center;
	padding: 2px;
}

.match-header {
	background: #CCCCCC;
	border: 2px solid grey;
}

.match-panel a {
	text-decoration: none;
	font-size: 20px;
	color: #333333;
}

.match-panel .match-category {
	font-weight: bold;
}

#bet-form {
	
}