@CHARSET "ISO-8859-1";

.ranking {
	width:90%;
	margin:auto;
	padding:5px 5px 5px 5px;
	border-collapse:collapse;
	text-align:center;
}

.ranking tr:nth-child(2n+1) {
	background:#CCCCCC;
}

.ranking tr:nth-child(2n+2) {
	background:#EEEEEE;
}

/* Header du classement */
.ranking tr:nth-child(1) {
	background:#666666;
	border:1px solid black;
}

.ranking td {
	border:1px solid black;
}

.ranking a {
	text-decoration:none;
	color:black;
}

.ranking .ranking-points {
	border:1px solid grey;
	background:#AAAAAA;
}